MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
REDIS_PASSWORD=
WORKSPACE_JWT_SECRET=
WORKSPACE_INTERNAL_TOKEN=
WORKSPACE_CONFIG_KEY=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
BOOTSTRAP_USER=admin
BOOTSTRAP_PASSWORD=
